.right-container{
    background-image: linear-gradient(to right,#444,#333);
}

.preview-container{
    height: 100%;
    border-left:1px white solid;
}

.pre-tasklist-details{
    position: relative;
    background-image: linear-gradient(to right,#444,#333);
    height: 10%;
    border-bottom: 1px solid white;
}

.pre-tasklist-title{
    width: 80%;
    font-size: 25px;
    color: white;
    padding: 5px 0px 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pre-tasklist-description{
    width: 80%;
    font-size: 20px;
    color: #f7fb33;
    padding: 0px 0px 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.create-task-button{
    width: 15%;
    height: 30px;
    background-color: mediumseagreen;
    color: white;
    position: absolute;
    right: 5px;
    top: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 100px;
    white-space: nowrap;
    cursor: pointer;
}

.task-container{
    list-style-type: none;
    height: 87%;
    overflow: scroll;
}

.task{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid white;
}

.task-checkbox{
    outline: none;
    border: 1px solid green;
    width: 30px;
    height: 20px;
    margin-top: 30px;
}

.task-title{
    outline: none;
    border: 0px;
    background-image: linear-gradient(to right,rgb(189 212 208),rgb(219 234 224));;
    margin: 5px 0px;
    width: 87%;
    color: black;
    font-size: 18px;
    padding: 5px;
}


.task-delete{
    background-image: url('./delete.svg');
    width: 25px;
    height: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 15px;
}

input[type="file"] {
    display: none;
}

.image-attach{
    background-image: url('./delete.svg');
    width: 25px;
    height: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 50px;
}

.image-preview{
    position: absolute;
    bottom: 11px;
    height: 100px;
    max-width: 30%;
    left: 29px;
    border: 1px solid white;
    transition: 1s transform;
}

.image-preview:hover{
    z-index: 1 !important;
    width: unset;
    max-width: 50%;
    height: unset;
    max-height: 200px;
    transform: scale(0.9);
}